body {
  background: rgb(230, 67, 230);
  background: linear-gradient(
    142deg,
    rgba(230, 67, 230, 1) 0%,
    rgba(147, 94, 255, 1) 50%,
    rgba(0, 179, 255, 1) 100%
  );
}
/*------------------------------CONTACT-----------------------------------*/
/*------------------------------CONTACT-----------------------------------*/
/*------------------------------CONTACT-----------------------------------*/
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*------------------------------CONTACT-----------------------------------*/
/*------------------------------CONTACT-----------------------------------*/
/*------------------------------CONTACT-----------------------------------*/

/*------------------------------Projet-----------------------------------*/
/*------------------------------Projet-----------------------------------*/
/*------------------------------Projet-----------------------------------*/
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card-container .card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  width:30%;
}

.card-container .card img {
  width: 100px;
  height: 100px;
}

/*------------------------------Projet-----------------------------------*/
/*------------------------------Projet-----------------------------------*/
/*------------------------------Projet-----------------------------------*/

/*------------------------------Skill-----------------------------------*/
/*------------------------------Skill-----------------------------------*/
/*------------------------------Skill-----------------------------------*/

/*------------------------------Skill-----------------------------------*/
/*------------------------------Skill-----------------------------------*/
/*------------------------------Skill-----------------------------------*/
