@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

body {
  font-family: "Roboto Slab", serif;
}

/*------------------------------HOME-----------------------------------*/
/*------------------------------HOME-----------------------------------*/
/*------------------------------HOME-----------------------------------*/

.presentation {
  text-align: center;
  padding: 100px 0;
}
/*------------------------------HOME-----------------------------------*/
/*------------------------------HOME-----------------------------------*/
/*------------------------------HOME-----------------------------------*/

/*------------------------------CONTACT-----------------------------------*/
/*------------------------------CONTACT-----------------------------------*/
/*------------------------------CONTACT-----------------------------------*/
.formulaire {
  display: flex;
  justify-content: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  width: 30%;
}

.contact-form input {
  border-radius: 20px;
  width: 100%;
}
.contact-form textarea {
  border-radius: 20px;
  width: 100%;
}
.contact-form button {
  margin-top: 10px;
  color: white;
  background-color: plum;
  width: 50%;
  border-radius: 20px;
  text-decoration: none;
}

/*------------------------------CONTACT-----------------------------------*/
/*------------------------------CONTACT-----------------------------------*/
/*------------------------------CONTACT-----------------------------------*/

/*------------------------------Projet-----------------------------------*/
/*------------------------------Projet-----------------------------------*/
/*------------------------------Projet-----------------------------------*/
.jcp {
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  width: 60%;
  justify-content: center;
}
.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.card-container .card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  align-items: center;
  width: 10%;
  margin: 10px;
}

.card-container .card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin: 10px;
  max-height: 150px;
  object-fit: contain;
}

/*------------------------------Projet-----------------------------------*/
/*------------------------------Projet-----------------------------------*/
/*------------------------------Projet-----------------------------------*/

/*------------------------------Skill-----------------------------------*/
/*------------------------------Skill-----------------------------------*/
/*------------------------------Skill-----------------------------------*/
.center-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 90%;
  background-color: blueviolet;
}
.css {
  width: 80%;
  background-color: #2196f3;
}
.js {
  width: 65%;
  background-color: #f44336;
}
.reactjs {
  width: 60%;
  background-color: purple;
}
.python {
  width: 60%;
  background-color: pink;
}

/*------------------------------Skill-----------------------------------*/
/*------------------------------Skill-----------------------------------*/
/*------------------------------Skill-----------------------------------*/
