.top-bar-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: blueviolet;
}
/* NavLinkHome */

.navLink-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.pic {
  width: 100%;
  height: 100%;
  object-fit: wrap;
}
.home-pic {
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: blueviolet;
  box-shadow: 0 0 5px 1px white;
  border-radius: 50%;
}

/* NavLinkHome */

/* NavLinkMenu */

.top-bar ul {
  display: flex;
  justify-content: center;
}
.top-bar li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 5px 5px;
  width: 60px;
  border-radius: 20px;
}
.top-bar a {
  text-decoration: none;
  color: white;
}

/* NavLinkMenu */
