.top-bar-home {
  display: flex;
  width: 100%;
}
.top-bar ul {
  display: flex;
  width: 50%;
}
.top-bar ul li {
  padding: 20px;
  text-decoration: none;
  list-style: none;
}

.top-bar ul li navLink span {
  text-decoration: none;
  color: white;
}
