.top-bar-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* NavLinkHome */

.navLink-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.pic {
  width: 100%;
  height: 100%;
  object-fit: wrap;
}
.home-pic {
  position: relative;
  width: 100px;
  height: 100px;
}
.home-pic::before {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -5px;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  border: 1px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px 1px black;
}
.navLink-home h2 {
  transform: translateY(-30px);
}

/* NavLinkHome */

/* NavLinkMenu */

.top-bar ul {
  display: flex;
  justify-content: center;
}
.top-bar li {
  list-style: none;
  justify-content: space-between;
  padding-right: 10px;
}
.top-bar a {
  text-decoration: none;
}

/* NavLinkMenu */
